<div style="display:none;">
<h1>Congratulations!</h1>
<p>You’re one of the very first people to participate in the Data Smarts Project.</p>
<p>Once we get 100 respondents we’ll shoot you an email. The email will contain a link back to this page and you can check out how you stack up against your peers.</p>
</div>
