header {
	height: 40px;
}

.navbar {
	background: #f37621;
	border: none;
	color: #f2f0f0;
	&> li {
		&> a {
			color: #f2f0f0;

			&.navbar-brand {
				font-size: 0.8em;
			}
		}
	}

	.navbar-nav {
		li {

			&.open {
				a {
					background: #f6914f;
				}
			}

			a {
				font-size: 0.8em;
				&.dropdown-toggle {
					color: #f2f0f0 !important;

				}

				&:visited {
					color: #f2f0f0 !important;
				}

				&:hover {
					background: #f6914f;
				}

				&:active {
					background: #f6914f;
				}
			}
		}

		.dropdown-menu {
			background: #f6914f;
			border: none;
			border-radius: 0;

			li {
				font-size: 1em;
				a {
					font-size: 1em;
				}
			}
		}
	}
}

a.navbar-brand {
	text-indent: -9999px;
	width: 200px;
	background: image-url('rjm-logo-sm.svg') no-repeat center center;
}
