header {
	height: 40px;
}

.navbar {
	background: #f37621;
	border: none;
	color: #f2f0f0;
	&> li {
		&> a {
			color: #f2f0f0;

			&.navbar-brand {
				font-size: 0.8em;
			}
		}
	}

	.navbar-nav {
		li {
			a {
				font-size: 0.8em;
			}
		}
	}
}

a.navbar-brand {
	text-indent: -9999px;
	width: 200px;
	background: url('/assets/rjm-logo-sm.svg') no-repeat center center;
}